@tailwind base;
@tailwind components;
@tailwind utilities;

.glass-container {
  background: rgba(196, 196, 196, 0.1);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
}

.heroBg::before{position: absolute;top: 0;left: 0;content: "";background: rgba(150, 150, 150, 0.5);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);z-index: 1;width: 100%;height: 100%;}